<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Music_School</title>
</head>
<body>
<header th:fragment="header" class="header" id="header">
    <div class="container">
        <nav class="header-nav-menu">
            <div class="header-nav-menu-links">
                <a th:href="@{/main}" class="header-nav-menu-link">Main</a>
                <a th:href="@{/instrument}" class="header-nav-menu-link">Instrument</a>
                <a th:href="@{/lesson}" class="header-nav-menu-link">Schedule</a>
                <a th:href="@{/subjects}" class="header-nav-menu-link">Subjects</a>
            </div>
        </nav>
    </div>
</header>
<section class="section-login">
    <div class="container">
        <form th:action="@{/login}" class="form" method="post">
            <span>Вход</span>
            <input type="text" class="form-input" required placeholder="Логин">
            <input type="password" class="form-input" required placeholder="Пароль">
            <input type="submit" class="header-button form-button" value="Войти">
        </form>
    </div>
</section>
</body>
</html>